<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="./assets/css/visual.css">
    <link rel="stylesheet" href="./assets/css/create.css">

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-org-chart@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-flextree@2.0.0/build/d3-flextree.js"></script>

    <title>Wooly Cloud</title>

</head>
<body>
    <div class="navbar">
        <a class="" href="/"><i class="fa fa-fw fa-home"></i></a> 
        <a class="" href="/visualize">Visualization</a>
    </div>
    <div class="contents">
        <h1 class="title add-page">Add Instance</h1>
        <h4>Choose Instance want to create</h4>
        <div class="login-box add-instance">
            <form action="">
                <div class="instance-list">
                    <div class="instance-item">
                       <label>
                          <input type="radio" name="option" id="" value="ec2" checked=""><span class="instance-option">EC2</span>
                       </label>
                    </div>
                    <div class="instance-item">
                        <label>
                           <input type="radio" name="option" id="" value="vpc"><span class="instance-option">VPC</span>
                        </label>
                     </div>
                     <div class="instance-item">
                        <label>
                           <input type="radio" name="option" id="" value="subnet"><span class="instance-option">Subnet</span>
                        </label>
                     </div>
                     <div class="instance-item">
                         <label>
                            <input type="radio" name="option" id="" value="s3"><span class="instance-option">S3</span>
                        </label>
                    </div>
                </div>
            </form>

                <form class="form-wrap form-wrap--ec2">
                    <input type="text" name="type" placeholder="ec2">
                    <input type="text" name="subnetId" placeholder="Subnet ID">
                    <input type="text" name="groups" placeholder="Groups">
                    <input type="text" name="keyname" placeholder="KeyName">
                    <input type="text" name="name" placeholder="Name">
                </form>

                <form class="form-wrap form-wrap--vpc">
                    <input type="text" name="type" placeholder="Type" value="vpc">
                    <input type="text" name="cidrBlock" placeholder="cidrBlock">
                    <input type="text" name="name" placeholder="Name">
                </form>

                <form class="form-wrap form-wrap--subnet">
                    <input type="text" name="type" placeholder="Type" value="subnet">
                    <input type="text" name="VpcId" placeholder="VPC ID">
                    <input type="text" name="cidrBlock" placeholder="cidrBlock">
                    <input type="text" name="availabilityZone" placeholder="Availability Zone">
                    <input type="text" name="name" placeholder="Name">
                </form>

                <form class="form-wrap form-wrap--s3">
                    <input type="text" name="type" placeholder="Type" value="s3">
                    <input type="text" name="name" placeholder="Name">
                </form>
                <!-- type="submit" 으로 변경 시 ?addInstance=Instance1 -->
                <button type="button" class="btn-submit">Create</button>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        var type;
        
        $('.instance-option').click(function(){
            if($(this).text() == 'EC2') {
                $('.form-wrap').css('display', 'none')
                $('.form-wrap--ec2').css('display', 'block')
                type = 'ec2';
            } else if($(this).text() == 'VPC') {
                $('.form-wrap').css('display', 'none')
                $('.form-wrap--vpc').css('display', 'block')
                type = 'vpc';
            } else if($(this).text() == 'Subnet') {
                $('.form-wrap').css('display', 'none')
                $('.form-wrap--subnet').css('display', 'block')
                type = 'subnet';
            } else if($(this).text() == 'S3') {
                $('.form-wrap').css('display', 'none')
                $('.form-wrap--s3').css('display', 'block')
                type = 's3';
            }
        });


        $('.btn-submit').click(function(){
            if(type == 'ec2') {
                var instance_data = $('.form-wrap--ec2').serialize();
            } else if(type == 'vpc') {
                var instance_data = $('.form-wrap--vpc').serialize();
            } else if(type == 'subnet') {
                var instance_data = $('.form-wrap--subnet').serialize();
            } else if(type == 's3') {
                var instance_data = $('.form-wrap--s3').serialize();
            }
            console.log(instance_data);
            jQuery.ajax({
                type : "post",
                url : "/add",
                dataType : "json",
                async : true,
                data: instance_data,
                success : function(data)
                {
                    console.log(data)
                    alert("인스턴스 생성을 완료했습니다.");
                },
                error : function(xhr, ajaxSettings, thrownError) 
                {
                    console.log(data)
                    alert("인스턴스 생성 중 오류가 발생하였습니다.");
                },
            });	
        });
    </script>
</body>
</html>