<!DOCTYPE html>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159203773-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-159203773-1");
  </script>

  <title>Wooly Cloud</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>
  <!-- Header -->
  <header id="header">
    <div class="logo">
      <a href="./">Wooly Cloud</a>
    </div>
    <a href="#menu"><span>Menu</span></a>
  </header>

  <!-- Nav -->
  <nav id="menu">
    <ul class="links">
      <li><a href="">Home</a></li>
      <li><a href="visualize">Visualization</a></li>
      <li><a href="login">Login</a></li>
    </ul>
  </nav>

  <!-- Banner -->
  <!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
  <section id="banner" class="bg-img" data-bg="banner_cloud.png">
    <div class="inner">
      <header>
        <h1>Cloud Visualization</h1>
        <a href="visualize" class="button alt">Visualization</a>
      </header>
    </div>
    <a href="#one" class="more">Learn More</a>
  </section>

  <!-- One -->
  <section id="one" class="wrapper post bg-img" data-bg="banner_cloud2.png">
    <div class="inner">
      <article class="box">
        <header>
          <h2>솜구름 클라우드 시각화 프로젝트</h2>
        </header>
        <div class="content">
          <p>
            솜구름의 클라우드 시각화 프로그램은 기존 서비스들의
            인프라를 직접 수정하고 적용하는 기능에 대한 부재와
            오픈소스 프로젝트들의 기능적 제약을 해결하고자 합니다.
            생성된 인스턴스를 다이어그램 형태로 시각화하고,
            사용자의 설계대로 시각화가 반영되는
            클라우드 시각화 최적의 프로그램을 만드는 것이 목표입니다.
          </p>
        </div>
        <footer>
          <a href="visualize" class="button alt">Visualization</a>
        </footer>
      </article>
    </div>
  </section>

  <!-- Scripts -->

  <!-- The core Firebase JS SDK is always required and must be listed first -->

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

  <!-- Initialize Firebase -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/skel.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>

  <script defer src="./assets/js/app.js"></script>
  <script defer src="./assets/js/.js"></script>

</body>

</html>